body{
	background: url(img/fon.jpg);
	background-size: 100%100%;
}	
.photo{
	text-align: center;
	padding-top: 40px;
	border-top: 150px;
}
.list{	
	padding-left: 700px;
	font-size: 18px;
}

p{
	padding-top: 20px;
	margin: 0px;
}
a{
	text-decoration: none;
	margin: 8px;
}
.text{
	text-align: center;
	padding-top: 5px;
}
hr{
	width: 500px;
    border-top: 1px solid #696969;
    border-bottom: dotted 1px #696969;
    padding-left: 10px;
}    