body{
	background: url(img/fon.jpg);
	background-size: 100%100%;
}	
.photo{
	text-align: center;
	border-bottom: 2px solid black;
	margin-left: 300px;
    margin-right: 300px;

}
.list{	
	font-size: 18px;
    text-align: center;
    border-bottom: 2px solid black;
    margin-left: 300px;
    margin-right: 300px;

}
li {
	list-style-type: none;
}
.text{
	text-align: center;
	border-bottom: 2px solid black;
	margin-left: 300px;
    margin-right: 300px;

}

.text a{
	text-decoration: none;
}
.feedback {
	font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

